
<div *ngIf="isLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div [hidden]="isLoading" class="container my-5">
    <div class="px-32 w-100-p" class="primary-800">
        <div class fxLayout="row" fxLayoutAlign="space-between center">
            <h1 class="mb-0">Members</h1>
        </div>
    </div>
    <div>
        <div>
            <mat-form-field class="filter-input">
                <input matInput autocomplete="off" (keyup)="applyfilter($event)" placeholder="Filter Users" />
                <mat-hint *ngIf="shouldShowChar()" style="font-style: italic; font-size: 10px;">{{ shouldShowText() }}</mat-hint>
            </mat-form-field>
        </div>
        <div class="mat-elevation-z1">
            <mat-table [dataSource]="dataSource" matSort class="table-size">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>User Id</mat-header-cell>
                    <mat-cell [style.color]="'black'" *matCellDef="let data; let i = index" [ngClass]="isSelected(data) ? 'selected' : ''">
                        {{ i +1 }}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                    <mat-cell [style.color]="'black'" *matCellDef="let data" [ngClass]="isSelected(data) ? 'selected' : ''">
                        {{ data.firstName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</mat-header-cell>
                    <mat-cell [style.color]="'black'" *matCellDef="let data" [ngClass]="isSelected(data) ? 'selected' : ''">
                        {{ data.lastName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell [style.color]="'black'" *matCellDef="let data" [ngClass]="isSelected(data) ? 'selected' : ''">
                        {{ data.email}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                    <mat-cell [style.color]="'black'" *matCellDef="let data" [ngClass]="isSelected(data) ? 'selected' : ''">
                        {{ data.phone}}
                        <button mat-icon-button (click)="openEditCustomerDialog(data)">
                            <mat-icon style="color: #7e6ccb" >edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteCustomer(data)" style="color: #7e6ccb"><mat-icon  >delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="dataColumns; sticky: true" style="background-color: #7e6ccb;"></mat-header-row>
                <mat-row *matRowDef="let row; columns: dataColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[20,40,60]" showFirstLastButtons style="background-color: #7e6ccb;"></mat-paginator>
        </div>
    </div>
</div>
